.publication {
    .publication__title {

    }
    .publication__authors {
        margin-bottom: 1em;
    }
    .publication__citation {
        font-size: 85%;
        color: $gray-light;
        font-style: italic;
    }
    .publication__meta {
        text-align: right;
        font-size: 75%;
        .publication__link {
            display: inline-block;
            margin-bottom: 1em;
        }
    }
}
