@import 'normalize';
@import 'globals';
@import 'navigation';
@import 'author';
@import 'publication';

// Main Blocks

body {
    font-family: sans-serif;
    color: $black;
}

main {
    padding: 2em;
}

// Links

a, a:hover, a:active, a:visited {
    color: $teal;
    transition: color 250ms;
}

a:hover {
    color: $teal-darker;
}

// Lists

.div-list {
    padding: 1px;
}
.div-list__item {
    padding: 1em;
    margin-bottom: 1rem;
    border: 1px solid $gray-lighter;
    box-shadow: 0 0 5px 1px $gray-lighter;
}

//  Icons

.fa-external-link-alt {
    margin-left: 0.5em;
    font-size: 80%;
}

.fa-user {
    margin-right: 0.5em;
}