{% extends 'base.html' %}

{% block content %}

    <h1>{{ author }}</h1>
    
    <div class="aliases">
        {% if author.alias_set.all %}
            Aliases:
            {% for alias in author.alias_set.all %}
                {{ alias }}
            {% endfor %}
        {% endif %}
    </div>
    
    <div class="div-list publications">
    
        {% for publication in publications %}
            
            <div class="div-list__item publication">
                
                <h4 class="publication__title">{{ publication.title }}</h4>

                <div class="publication__authors">
                    {% for author in publication.author.all %}
                        {% if author.staff %}
                            <a href="{% url 'djoi:author' author.slug %}">{{ author.name }}</a>
                        {% else %}
                            {{ author.name }}
                        {% endif %}
                    {% endfor %}
                </div>
            
                <div class="citation__text doi{{ publication.doi|slugify }}">
                    {{ publication.citation }}                    
                </div>

                <div class="publication__meta">
                    <a class="citation__toggler" href="#">
                        <i class="fas fa-tag" data-doi="{{ publication.doi|slugify }}" ></i>
                    </a>
                    <a class="meta__external-link" href="https://doi.org/{{ publication.doi }}" target="_blank">
                        <i class="fas fa-external-link-square-alt"></i>
                    </a>
                </div>
            
            </div>
        
        {% endfor %}
    
    </div>

    <div class="div-list__item citation-dialog">
        <div class="citation-dialog__header">
            <div class="citation-dialog__title">Title</div>
            <div class="citation-dialog__close-button">
                <i class="fa fa-times" aria-hidden="true"></i>
            </div>
        </div>
        <div class="citation-dialog__text"></div>
    </div>

    <div class="dialogBackdrop"></div>

{% endblock content %}