{% extends 'base.html' %}

{% block content %}

    <h1>Publications</h1>
    
    <div class="div-list publications">    
        {% for publication in publications %}
            
            <div class="div-list__item publication">
            
                <h4 class="publication__title">{{ publication.title }}</h4>
                
                <div class="publication__authors">
                    <ul>
                        {% for author in publication.author.all %}
                            <li style="list-style: none;">
                                <!--
                                    If author is in staff list,
                                    show link to page.
                                    Generate slugs in view to pass in,
                                    and check for slug here.
                                -->
                                {{ author.name }}
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            
                <div class="publication__meta">
                    <a href="https://doi.org/{{ publication.doi }}" target="_blank" class="publication__link">
                        https://doi.org/{{ publication.doi }}<i class="fa fa-external-link-alt"></i>
                    </a>
                </div>
            
            </div>

        {% endfor %}
    </div>

{% endblock content %}