{% extends 'base.html' %}

{% block content %}

    <h1>Publications</h1>
    
    <div class="div-list publications">    
        {% for publication in publications %}
            
            <div class="div-list__item publication">
            
                <h4 class="publication__title">{{ publication.title }}</h4>
                
                <div class="publication__authors">
                    {% for author in publication.author.all %}
                        {% if author.alias %}
                            <a href="{% url 'djoi:employee' author.slug %}">{{ author.name }}</a>{% if not forloop.last %},{% endif %}
                        {% else %}
                            {{ author.name }}{% if not forloop.last %},{% endif %}
                        {% endif %}
                    {% endfor %}
                </div>
            
                <div class="publication__citation doi{{ publication.doi|slugify }}">
                    <div class="citation__title title{{ publication.doi|slugify }}">
                        {{ publication.title }}
                    </div>
                    <div class="citation__text text{{ publication.doi|slugify }}">
                        {{ publication.citation }}
                    </div>
                </div>

                <div class="publication__extras">
                    <a class="publication__citation-toggler" href="#">
                        <i class="fas fa-tag" data-doi="{{ publication.doi|slugify }}" ></i>
                    </a>
                    <a class="publication__external-link" href="https://doi.org/{{ publication.doi }}" target="_blank">
                        <i class="fas fa-external-link-square-alt"></i>
                    </a>
                </div>
            
            </div>

        {% endfor %}
    </div>

    {% include 'djoi/_partials/citation-dialog.html' %}

{% endblock content %}